extends layout

block main
  div.row(data-ng-cloak)
    div.col-xs-12
      h1 Dashboard
    div.col-xs-12
      div.container(data-ng-controller="DashboardController")
        div.row.text-right(data-ng-if="numPages && numPages > 1")
          div.col-xs-12
            ul.pagination-sm(uib-pagination,total-items="totalMosaics",num-pages="numPages",items-per-page="pageSize",previous-text="<",next-text=">",ng-model="$parent.pageNumber",ng-change="getMosaics($parent.pageNumber)")
        div.row
          div.col-xs-12(data-ng-if="loadingComplete")
            div(data-ng-if="!mosaics.length")
              div.text-large.text-center
                div.row
                  div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                    div.panel-rounded.bottom-left.thick.bg-teal(style="padding:20px;")
                      a(style="color:white",href="/mosaic/create") you have no mosaics yet -- click here to create a mosaic
            div.row(data-ng-if="mosaics.length",data-ng-repeat="mosaic in mosaics")
              div.col-xs-12
                div.margin-bottom-large.padding-medium.shadow-small-subtle
                  div.row
                    div.col-xs-12.col-sm-4
                      div.text-large {{ ($index + 1) + ((pageNumber-1) * pageSize) }}. {{ mosaic.name || 'Mosaic' }}
                      div.text-tiny.soft {{ exactDate(mosaic.created_at) }}
                      div.soft(data-ng-if="mosaic.description") {{ mosaic.description }}
                      div.center-everything.separate-vert-medium
                        img.img-responsive.img-thumbnail(data-ng-src="/file/s3/{{ mosaic.master_image.s3_filename.small }}")
                    div.col-xs-12.col-sm-8
                      div.panel-rounded.top-left
                        div.heading(style="padding-left:30px") previews
                        div.panel-body
                          div.margin-bottom-medium
                            strong
                              a(data-ng-href="/mosaic/preview/{{ mosaic._id }}") Go To Preview Page
                          div.row.small-gutters
                            mosaicpreview.col-xs-4.col-md-3.col-lg-2(data-ng-repeat="preview in mosaic.previewImages",info="preview")
        div.row.text-right(data-ng-if="numPages && numPages > 1")
          div.col-xs-12
            ul.pagination-sm(uib-pagination,total-items="totalMosaics",num-pages="numPages",items-per-page="pageSize",previous-text="<",next-text=">",ng-model="$parent.pageNumber",ng-change="getMosaics($parent.pageNumber)")
