- // Inherits AngularJS GlobalController
div
  h1 1. Enter Image URL
div.form-group
  label Image URL (be sure to include the protocol [http:// or https://])
  input.form-control.input-lg(type="text",data-ng-model="imageUrl",placeholder="Image URL...")
div
  h1 2. Process the Image
div.panel.panel-default
  div.panel-body
    div.text-large Processing Functions
    div.form-group.text-center
      div.btn-group
        button.btn.btn-default(data-ng-click="updateAryLength('processingFunctions')")
          span(class="glyphicon glyphicon-plus")
        button.btn.btn-default(data-ng-click="updateAryLength('processingFunctions','dec')")
          span(class="glyphicon glyphicon-minus")
    div(data-ng-if="!processingFunctions.length").text-center
      div.alert-warning(uib-alert) No processing functions added.
    div(data-ng-if="processingFunctions.length")
      div(data-ng-repeat="function in processingFunctions")
        div.panel.panel-info
          div.panel-heading
            div.form-group
              label Processing Function Type
              select.form-control(data-ng-options="val as '(' + val + ') ' + info.name for (val, info) in functionTypes",data-ng-model="function.type")
            div.row(data-ng-if="functionTypes[function.type].options.length")
              div.panel.panel-default.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                div.panel-body
                  div.form-group(data-ng-repeat="option in functionTypes[function.type].options")
                    label {{ $index+1 }}. {{ optionKey(option) }}
                    input.form-control(data-ng-if="!isArray(option[optionKey(option)])",type="{{ option[optionKey(option)] }}",data-ng-model="function[optionKey(option)].val")
                    select.form-control(data-ng-if="isArray(option[optionKey(option)])",data-ng-options="val as val for val in option[optionKey(option)]",data-ng-model="function[optionKey(option)].val")
div
  h1 3. Preview New Image!
div.panel(data-ng-class="(validateError) ? 'panel-danger' : 'panel-success'")
  div.panel-heading
    div Generated URL &amp; Image
  div.panel-body
    div(data-ng-if="!validateError")
      pre.text-xlarge(data-ng-if="final.valid") {{ generatedUrl }}
      div.center-everything
        div.alert-warning(uib-alert,data-ng-if="final && !final.valid",style="margin-bottom:0px") There was an error getting your image. Please make sure it's a valid image URL and try again. (Error: {{ final.error }})
        img.img-responsive.img-thumbnail(data-ng-if="final.valid",data-ng-src="{{ final.url }}")
    div(data-ng-if="validateError")
      div.alert-danger(uib-alert,style="margin-bottom:0px") Error: {{ validateError }}
