extends layout

block main
  div.container(data-ng-cloak)
    syncloader(data-ng-if="loadingSync")
    div.row
      div.col-xs-12.text-center
        h1 Instant Image Processing
        h4 Process images and generate URLs to download or add to your &lt;img src="*" /&gt;!
      div.col-xs-12
        hr.separate-vert-medium
    div.row
      div.col-xs-12.col-md-6
        h3
          u How It Works
        ol
          li Get the URL of an image on the internet
          li Determine how you want to process the image
          li Create a URL using the URL-generator below
          li
            div Download the new image or put the created URL in your img tags' src="" attribute!
            div
              small (All processed images are stored in AWS S3, so retrieval on subsequent loads occurs much faster then the first time the image is processed.)
      div.col-xs-12.col-md-6
        div.panel.panel-black
          div.panel-heading
            div.text-xlarge Example
          div.panel-body
            div.row
              div.col-xs-12.col-sm-7
                h3 Original Image URL
                div
                  pre https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png
              div.col-xs-12.col-sm-5
                h3 Original Image
                div.center-everything
                  img.img-responsive.img-thumbnail(src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png")
              div.col-xs-12.col-sm-7
                div.row
                  div.col-xs-12
                    h3 New Image URL
                    div
                      pre http://img.photosaics.com/rog/14f59d400d2b75d28160a138bff0e31c0742440c4eac16611a72e627e5aef10f9083b3f6db032a29c28f4612f4deab60532b40804ce703448e6fec16f3867196ed7a5effd6cf21b318245384388669d65443abedcb7e650d304935552ed1c1902044d1d9267414b4efe3d7b97e09884dea8e350e/https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png
                  div.col-xs-12
                    h3 Processing Functions
                    div
                      ol
                        li Resize image to 160px x 100px
                        li Rotate image 45 degrees clockwise
                        li Make grayscale
              div.col-xs-12.col-sm-5
                h3 Processed Image
                div.center-everything
                  img.img-responsive.img-thumbnail(src="/rog/14f59d400d2b75d28160a138bff0e31c0742440c4eac16611a72e627e5aef10f9083b3f6db032a29c28f4612f4deab60532b40804ce703448e6fec16f3867196ed7a5effd6cf21b318245384388669d65443abedcb7e650d304935552ed1c1902044d1d9267414b4efe3d7b97e09884dea8e350e/https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png")
    div.row
      div.col-xs-12.col-md-8.col-md-offset-2
        div.panel.panel-success
          div.panel-heading
            div.text-large Image URL Generator
          div.panel-body
            include include_url_generator.pug
    div.row
      div.col-xs-12.col-sm-8.col-sm-offset-2
        div.panel.panel-default
          div.panel-heading
            div.text-large Command Reference
          div.panel-body
            ol
              li
                div
                  strong b (border):
                  span  Adds a border to the image of specified length (in pixels) and color (default is 'black').
              li
                div
                  strong c (crop):
                  span  Crop the image in a rectangle of specified width and height (in pixels) from the center of the image, or specify the left, top, right, and bottom coordinates to crop the image.
              li
                div
                  strong g (grayscale/greyscale):
                  span  Completely desaturate the image and make grayscale.
              li
                div
                  strong m (mirror):
                  span  Mirror the image over the x-axis, y-axis, or both.
              li
                div
                  strong o (rotate):
                  span  Rotate the image of specified degrees clockwise, where the final image will have a transparent canvas (if applicable).
              li
                div
                  strong r (resize):
                  span  Resize the image to the specified width and height (in pixels).
              li
                div
                  strong s (resize same ratio):
                  span  Resize the image to a specified width (in pixels) keeping the same width:height ratio.
              li
                div
                  strong t (color to transparent):
                  span  Changes the specified color in the image to become transparent.
              li
                div
                  strong q (make square):
                  span  Make the image square by cropping the image from the center outward as far as possible.
    hr.separate-vert-small
    div.separate-vert-large.center-everything
      small
        div If you have any requests for processing functions to add, e-mail me at lance@photosaics.com!
