extends layout

block main
  div.container
    div.row
      div.col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.center-everything
        div.panel-rounded.bottom-left.thick
          div.text-xxxlarge sosaics
  //- div.row
  //-   div.col-xs-12
  //-     div OMG
