extends layout

block main
  div.container
    div.row
      div.col-xs-12.text-center
        h1 Instant Image Processing
        h4 Generate URLs for processed images to download the image or in your img src="" attributes!
      div.col-xs-12
        hr.separate-vert-medium
    div.row
      div.col-xs-12.col-md-6
        h3
          u How It Works
        ol
          li Get the URL of an image on the internet
          li Determine how you want to process the image
          li Create a URL using the URL-generator below
          li Download the new image or put the created URL in your img tags' src="" attribute!
      div.col-xs-12.col-md-6
        div.panel.panel-black
          div.panel-heading
            div.text-xlarge Example
          div.panel-body
            div.row
              div.col-xs-12.col-sm-7
                h3 Original Image URL
                div
                  pre http://www.sosaics.com/file/s3/useriq_1480472152026.jpg
              div.col-xs-12.col-sm-5
                h3 Original Image
                img.img-responsive.img-thumbnail(src="http://www.sosaics.com/file/s3/useriq_1480472152026.jpg")
              div.col-xs-12.col-sm-7
                div.row
                  div.col-xs-12
                    h3 New Image URL
                    div
                      pre http://img.sosaics.com/ro/%7B%22r%22%3A%7B%22width%22%3A100%2C%22height%22%3A100%7D%2C%22o%22%3A%7B%22d%22%3A45%7D%7D/http://www.sosaics.com/file/s3/Mosaic_583e3627ec2bff0c00fe2ad5_small_1480707302302.png
                  div.col-xs-12
                    h3 Processing Functions
                    div
                      ol
                        li Resize image to 100pxx100px
                        li Rotate image 45 degrees clockwise
              div.col-xs-12.col-sm-5
                h3 Processed Image
                  img.img-responsive.img-thumbnail(src="http://img.sosaics.com/ro/%7B%22r%22%3A%7B%22width%22%3A100%2C%22height%22%3A100%7D%2C%22o%22%3A%7B%22d%22%3A45%7D%7D/http://www.sosaics.com/file/s3/useriq_1480472152026.jpg")
    div.row
      div.col-xs-12.col-sm-8.col-sm-offset-2
        div.panel.panel-success
          div.panel-heading
            div.text-large Image URL Generator
          div.panel-body
            include include_url_generator.pug
    div.row
      div.col-xs-12.col-sm-8.col-sm-offset-2
        div.panel.panel-default
          div.panel-heading
            div.text-large Command Reference
          div.panel-body
            ol
              li
                div
                  strong b (border):
                  span  Adds a border to the image of specified length and color (default is 'black').
              li
                div
                  strong c (crop):
                  span  Crop the image in a rectangle of specified width and height from the center of the image.
              li
                div
                  strong g (grayscale/greyscale):
                  span  Completely desaturate the image and make grayscale.
              li
                div
                  strong m (mirror):
                  span  Mirror the image over the x-axis, y-axis, or both.
              li
                div
                  strong o (rotate):
                  span  Rotate the image of specified degrees clockwise, where the final image will have a transparent canvas (if applicable).
              li
                div
                  strong r (resize):
                  span  Resize the image to the specified width and height.
              li
                div
                  strong s (resize same ratio):
                  span  Resize the image to a specified width keeping the same width:height ratio.
              li
                div
                  strong q (make square):
                  span  Make the image square by cropping the image from the center outward as far as possible.
