- data = data || {}
- var pageTitle = data.title || "sosaics images"

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no")

    link(rel="icon",href="/public/images/favicon.png")
    link(rel='stylesheet',type='text/css',href='/public/css/mosaicjs-master.css')
    script(src='/public/js/dependencies/angular.min.js')
    script(src='/public/js/dependencies/uploader.min.js')
    script(src='/public/js/app.min.js')

    script(type='text/javascript').
      LOCAL_DATA=!{JSON.stringify(data.external||{})}
    script().
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-102138787-1', 'auto');
      ga('send', 'pageview');

    title= pageTitle
  body(data-ng-app="sosaicsimg",data-ng-controller="GlobalController")
    div.container-fluid

      - //main entry point for any views that use layout as its primary page
      block main
