extends layout

block main
  script(type="text/javascript",src="https://js.stripe.com/v2/")
  div.row
    h1.col-xs-12
      div Create a Mosaic
    div.col-xs-12
      div.container(data-ng-controller="MosaicController")
        syncloader(data-ng-if="loadingSync")
        div.row
          div.col-xs-12
            div.nav-tabs
              uib-tabset(active="activeTab",data-ng-swipe-left="switchTab('up')",data-ng-swipe-right="switchTab('down')")
                uib-tab(index="0",heading="Info & Master Image")
                  div.row
                    div.col-xs-12.col-sm-8.col-sm-offset-2(data-ng-if="!integrationAuth.facebook || !integrationAuth.instagram")
                      div.row
                        div.col-xs-12.dark-bg.padding-medium.separate-vert-small
                          div.row
                            div.col-xs-12
                              div.text-large Use Social Media Photos!
                            div.col-xs-3.col-xs-offset-3(data-ng-if="!integrationAuth.facebook")
                              a(href="/oauth/facebook")
                                img.img-responsive.separate-vert-small(src="/public/images/social/facebook_white.png")
                                div.text-tiny(style="color:white") Click here to login to facebook and access images to add in your mosaics!
                            div.col-xs-3(data-ng-if="!integrationAuth.instagram",data-ng-class="(integrationAuth.facebook) ? 'col-xs-4 col-xs-offset-4' : ''")
                              a(href="/oauth/instagram")
                                img.img-responsive.separate-vert-small(src="/public/images/social/instagram_white.png")
                                div.text-tiny(style="color:white") Click here to login to instagram and access images to add in your mosaics!
                    div.col-xs-12.col-sm-8.col-sm-offset-2
                      div.form-group
                        label(for="mosaicTitle") Mosaic Title
                        input.form-control(type="text",placeholder="Mosaic Title",id="mosaicTitle",name="mosaicTitle",data-ng-model="mosaicInfo.title")
                  div.row
                    div.col-xs-12.col-sm-8.col-sm-offset-2
                      div.form-group
                        label(for="mosaicDescription") Mosaic Description
                        textarea.form-control(type="text",placeholder="Mosaic Description...",id="mosaicDescription",name="mosaicDescription",data-ng-model="mosaicInfo.desc")
                  div.separate-vert-medium.text-center.row(data-ng-show="!masterImageFile")
                    div.padding-medium.col-xs-12.col-sm-6.col-sm-offset-3
                      button.needsclick.btn.btn-lg.btn-primary(data-ng-show="!masterLoading",onclick="document.getElementById('master-image-file').click()") Upload Master Image
                      input#master-image-file(style="display:none",type="file")
                      div(data-ng-show="masterLoading")
                        div(style="display:inline-block")
                          loader(style="width:50px")
                  div.row(data-ng-if="masterImageFile")
                    div.col-xs-12.col-xs-12.col-sm-6.col-sm-offset-3
                      h2 {{ masterImageFile.name }} ({{ getHumanSize(masterImageFile.size) }})
                      h5
                        a(href="javascript:void(0)",data-ng-click="masterImageUpdate(null,true)") Clear Master Image
                  div.row.separate-vert-small(data-ng-if="masterImagePreview && !masterLoading")
                    div.padding-small.center-everything.col-xs-12.col-xs-12.col-sm-6.col-sm-offset-3
                      img.img-responsive.img-thumbnail(data-ng-src="{{ masterImagePreview }}")
                uib-tab(index="1",heading="Sub Images")
                  div.text-xlarge Sub-images selected: {{ subImages.length }}&nbsp;
                    span.glyphicon.glyphicon-ok
                  uib-accordion(close-others="false")
                    div.separate-vert-medium
                      div.panel.panel-subtle(uib-accordion-group,is-open="subImageTabs.manual",heading="{{ (subImageTabs.manual) ? '-' : '+' }} Upload Pictures",data-ng-click="refreshGrid(subImageTabs.manual,'fileGallery')")
                        div.center-everything
                          button.needsclick.btn.btn-lg.btn-default(onclick="document.getElementById('sub-image-files').click()") Upload Images
                          input#sub-image-files(style="display:none",type="file",multiple)
                        div.row.separate-vert-small(data-ng-if="subImages.length && isMobile")
                          div.col-xs-12
                            div.text-center(uib-alert,class="alert-success") {{ getSubImageLength('s3') }} images uploaded!
                        div.row.dynamic-grid(data-ng-if="subImages.length && !isMobile",angular-grid="subImages",ag-grid-width="150",ag-id="fileGallery",ag-refresh-on-img-load="true")
                          div.col-xs-6.col-sm-4.col-md-2.padding-small(data-ng-repeat="image in subImages",data-ng-if="image.type=='s3'")
                            div.sub-image-container.selected
                              div.header
                                div.row
                                  div.col-xs-6.text-left
                                    span.glyphicon.glyphicon-ok
                                  div.col-xs-6.text-right
                                    a(href="javascript:void(0)",data-ng-click="updateSubImages(null,{type:'s3',image:image},true)")
                                      i remove
                              div.image
                                img.img-responsive.img-rounded(data-ng-src="{{ subImagesFileReaders[$index]._src }}")
                              div.caption
                                div {{ truncateRight(image.name,12,true) }}
                                div {{ getHumanSize(image.size) }}
                      div.panel.panel-fb(uib-accordion-group,is-open="subImageTabs.facebook",data-ng-click="refreshGrid(subImageTabs.facebook,'fbGallery')",heading="{{ (subImageTabs.facebook) ? '-' : '+' }} Facebook Pictures ({{ integration.facebook.images.length }})")
                        div.separate-vert-small.text-center(data-ng-show="facebookAuthError")
                          div.padding-large.text-large.bg-gray
                            a(href="/oauth/facebook")
                              div {{ facebookAuthError }}
                              div Click here to authenticate with and access Facebook images!
                        div(data-ng-show="!facebookAuthError")
                          div.row
                            div.col-xs-12.col-sm-6
                              button.btn.btn-lg.btn-default(style="margin-bottom:10px",data-ng-click="facebookGetImages()",data-ng-hide="noMoreFbImages")
                                span Get {{ (integration.facebook.images.length) ? 'More' : '' }} Images
                                  loader(style="margin-left:5px;width:20px",data-ng-show="facebookLoading",normal="true")
                            div.col-xs-12.col-sm-6
                              input.form-control.input-lg(data-ng-model="fbSearch",placeholder="Search for pictures based on picture tags, timeframe, etc...",data-ng-keydown="refreshGrid(subImageTabs.facebook,'fbGallery')")
                          div.checkbox
                            label
                              input(type="checkbox",data-ng-model="fbSelectAll",data-ng-click="selectAllSubImagesByType('facebook')")
                              span Select All Loaded Facebook Images
                          div.separate-vert-small.row.no-gutters.dynamic-grid(data-ng-if="integration.facebook.images.length",angular-grid="integration.facebook.images",ag-grid-width="150",ag-id="fbGallery",ag-refresh-on-img-load="true")
                            div.col-xs-12.col-sm-4.col-md-2.center-everything(style="cursor:pointer",data-ng-repeat="i in integration.facebook.images | filter:fbSearch",data-ng-click="updateSubImages(null,{type:'facebook',image:i},isSubImageSelected('facebook',i.id))")
                              div.padding-tiny
                                div.sub-image-container(data-ng-class="isSubImageSelectedCssClass('facebook',i.id)")
                                  div.header
                                    span.glyphicon(data-ng-class="(isSubImageSelected('facebook',i.id)) ? 'glyphicon-ok' : 'glyphicon-minus'")
                                  div.image
                                    img.img-responsive.img-rounded(data-ng-src="{{ getImageUrl(i) }}")
                                  div.caption
                                    div.caption-body
                                      small
                                        small
                                          div
                                            small {{ exactDate(i.created_time || i.updated_time) }}
                                          div(data-ng-if="i.name") {{ i.name }}
                                          div(data-ng-if="i.name_tags.length")
                                            div
                                              u Tags:
                                            ul.small
                                              li(data-ng-repeat="nt in i.name_tags")
                                                div {{ nt.name }}
                      div.panel.panel-ig(uib-accordion-group,is-open="subImageTabs.instagram",data-ng-click="refreshGrid(subImageTabs.instagram,'igGallery')",heading="{{ (subImageTabs.instagram) ? '-' : '+' }} Instagram Pictures ({{ integration.instagram.images.length }})")
                        div.separate-vert-small.text-center(data-ng-show="instagramAuthError")
                          div.padding-large.text-large.bg-gray
                            a(href="/oauth/instagram")
                              div {{ instagramAuthError }}
                              div Click here to authenticate with and access Instagram images!
                        div(data-ng-show="!instagramAuthError")
                          div.row
                            div.col-xs-12.center-everything.margin-bottom-small
                              div.row.no-gutters
                                div.col-xs-6
                                  div.padding-small.click(data-ng-class="instagramTypeSelectedClass('user')",data-ng-click="instagramTypeUpdate('user')")
                                    i.fa.fa-user-circle.fa-5x.margin-right-small
                                    div
                                      small Your Pictures
                                div.col-xs-6
                                  div.padding-small.click(data-ng-class="instagramTypeSelectedClass('hashtag')",data-ng-click="instagramTypeUpdate('hashtag')")
                                    i.fa.fa-hashtag.fa-5x
                                    div
                                      small Search Hashtag
                          div.row
                            div.col-xs-12
                              div.padding-medium.light-bg(data-ng-if="instagramTypeSelected('hashtag')")
                                div.row(data-ng-if="!integration.instagramtag.images.length")
                                  div.col-xs-12.col-md-8.col-md-offset-2
                                    form(data-ng-submit="instagramSearchTags(instagramHashtagSearch)")
                                      input.form-control.input-lg(data-ng-model="instagramHashtagSearch",placeholder="Search for instagram hashtags...")
                                div.row
                                  div.col-xs-12(data-ng-if="!integration.instagramtag.images.length")
                                    div.separate-vert-small(data-ng-if="!instagramTags.length")
                                      div.row
                                        div.col-xs-12.col-md-8.col-md-offset-2
                                          div(uib-alert,class="alert-warning") Search for a #hashtag above.
                                    div(data-ng-if="instagramTags.length")
                                      ul.list-unstyled
                                        li(data-ng-repeat="tag in instagramTags")
                                          div.row
                                            div.col-xs-12.col-md-6.col-md-offset-3
                                              div.instagram-tag.dark-bg.separate-vert-small.padding-medium.click(style="border-radius:3px",data-ng-click="instagramTagMedia(tag.name)")
                                                div.text-large {{ $index+1 }}. \#{{ tag.name }}
                                                div
                                                  small
                                                    small Number of media items: {{ tag.media_count }}
                                  div.col-xs-12(data-ng-if="integration.instagramtag.images.length")
                                    div
                                      a(href="javascript:void(0)",data-ng-click="integration.instagramtag.images = []")
                                        i Search for a new hashtag
                                    div.checkbox
                                      label
                                        input(type="checkbox",data-ng-model="igTagSelectAll",data-ng-click="selectAllSubImagesByType('instagramtag')")
                                        span Select All Loaded Instagram Images
                                    div.text-xlarge \#{{ igTagName }}
                                    div.separate-vert-small.row.no-gutters.dynamic-grid(data-ng-if="integration.instagramtag.images.length",angular-grid="integration.instagramtag.images",ag-grid-width="150",ag-id="igGallery",ag-refresh-on-img-load="true")
                                      div.col-xs-12.col-sm-4.col-md-2.center-everything(style="cursor:pointer",data-ng-repeat="i in integration.instagramtag.images | filter:igSearch",data-ng-click="updateSubImages(null,{type:'instagram',image:i},isSubImageSelected('instagram',i.id))")
                                        div.padding-tiny
                                          div.sub-image-container(data-ng-class="isSubImageSelectedCssClass('instagram',i.id)")
                                            div.header
                                              span.glyphicon(data-ng-class="(isSubImageSelected('instagram',i.id)) ? 'glyphicon-ok' : 'glyphicon-minus'")
                                            div.image
                                              img.img-responsive.img-rounded(data-ng-src="{{ getImageUrl(i) }}")
                                            div.caption
                                              div.caption-body
                                                small
                                                  small
                                                    div
                                                      small {{ exactDate(timestampToDateString(i.created_time)) }}
                                                    div(data-ng-if="i.user.username") {{ i.user.username }}
                                                    div(data-ng-if="i.caption.text") {{ i.caption.text }}
                              div.padding-medium.light-bg(data-ng-if="instagramTypeSelected('user')")
                                div.row
                                  div.col-xs-12.col-sm-6
                                    button.btn.btn-lg.btn-default(style="margin-bottom:10px",data-ng-click="instagramGetImages()",data-ng-hide="noMoreIgImages")
                                      span Get {{ (integration.instagram.images.length) ? 'More' : '' }} Images
                                        loader(style="margin-left:5px;width:20px",data-ng-show="instagramLoading",normal="true")
                                  div.col-xs-12.col-sm-6
                                    input.form-control.input-lg(data-ng-model="igSearch",placeholder="Search for pictures based on picture tags, timeframe, etc...",data-ng-keydown="refreshGrid(subImageTabs.instagram,'igGallery')")
                                div.checkbox
                                  label
                                    input(type="checkbox",data-ng-model="igSelectAll",data-ng-click="selectAllSubImagesByType('instagram')")
                                    span Select All Loaded Instagram Images
                                div.separate-vert-small.row.no-gutters.dynamic-grid(data-ng-if="integration.instagram.images.length",angular-grid="integration.instagram.images",ag-grid-width="150",ag-id="igGallery",ag-refresh-on-img-load="true")
                                  div.col-xs-12.col-sm-4.col-md-2.center-everything(style="cursor:pointer",data-ng-repeat="i in integration.instagram.images | filter:igSearch",data-ng-click="updateSubImages(null,{type:'instagram',image:i},isSubImageSelected('instagram',i.id))")
                                    div.padding-tiny
                                      div.sub-image-container(data-ng-class="isSubImageSelectedCssClass('instagram',i.id)")
                                        div.header
                                          span.glyphicon(data-ng-class="(isSubImageSelected('instagram',i.id)) ? 'glyphicon-ok' : 'glyphicon-minus'")
                                        div.image
                                          img.img-responsive.img-rounded(data-ng-src="{{ getImageUrl(i) }}")
                                        div.caption
                                          div.caption-body
                                            small
                                              small
                                                div
                                                  small {{ exactDate(timestampToDateString(i.created_time)) }}
                                                div(data-ng-if="i.user.username") {{ i.user.username }}
                                                div(data-ng-if="i.caption.text") {{ i.caption.text }}
                uib-tab(index="2",heading="Review and Submit")
                  div.separate-vert-medium
                    div.row
                      div(data-ng-if="!canSubmitMosaic()")
                        div.col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
                          div.text-large(uib-alert,class="alert-danger") Please add a master image and at least 1 sub image for your mosaic to submit for processing.
                      div(data-ng-if="canSubmitMosaic()")
                        div.col-xs-12.col-sm-6
                          div.text-large {{ mosaicTitle }}
                          div.soft {{ mosaicDescription }}
                          div.center-everything
                            img.img-responsive.img-thumbnail(data-ng-src="{{ masterImagePreview }}")
                        div.col-xs-12.col-sm-6
                          div.padding-small
                            div.mosaic-small-card.round
                              div.text-large Submit Mosaic
                              ul.list-unstyled
                                li {{ subImages.length }} sub-images
                              div.center-everything
                                button.btn.btn-success(data-ng-click="submitMosaic()") Submit
                              - //include include_stripe_payment_form.jade
