extends layout

block main
  div.row
    h1.col-xs-12
      div Preview Your Mosaic
    div.col-xs-12
      div.container(data-ng-controller="MosaicPreviewController")
        div.row
          div.col-xs-12
            div
              div.row
                div.col-xs-12.col-sm-6.center-everything
                  div.panel-rounded.top-left
                    div.heading Master Image
                    div.panel-body
                      img.img-responsive.img-rounded(style="width:100%",data-ng-src="/file/s3/{{ mosaic.master_image.s3_filename.small }}")
                div.col-xs-12.col-sm-6
                  div.panel-rounded.top-right
                    div.heading.text-center Mosaic Previews
                    div.panel-body
                      div(data-ng-if="mosaicFinalImages.length || previewImages.length",uib-carousel,active="active",interval="3000")
                        div(uib-slide,index="$index",data-ng-repeat="preview in mosaicFinalImages track by $index")
                          a(data-ng-href="/file/{{ getImageUrl(preview.image,true,preview.type) }}",target="_blank")
                            img(style="margin:auto;width:100%",data-ng-src="/file/{{ getImageUrl(preview.image,false,preview.type) }}")
                            div.carousel-caption
                              p
                                div Grid Size: {{ preview.gridSize }}x{{ preview.gridSize }}
                                div Image Size: {{ preview.imageSize }}px x {{ preview.imageSize }}px
                                div(style="font-size:0.6em")
                                  i Click the image to download the high resolution version
                        div(uib-slide,index="$index + (mosaicFinalImages.length || 0)",data-ng-repeat="preview in previewImages track by $index")
                          a(data-ng-href="/file/{{ getImageUrl(preview.image,true,preview.type) }}",target="_blank")
                            img(style="margin:auto;width:100%",data-ng-src="/file/{{ getImageUrl(preview.image,false,preview.type) }}")
                            div.carousel-caption
                              p
                                div Grid Size: {{ preview.gridSize }}x{{ preview.gridSize }}
                                div Image Size: {{ preview.imageSize }}px x {{ preview.imageSize }}px
                                div(style="font-size:0.6em")
                                  i Click the image to download the high resolution version
