<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>sosaics - Privacy Policy</title>
</head>

<body>
  <h1>Privacy Policy</h1> Please read this Privacy Policy carefully before using this service. Access to and use of this service (the "Service"), including the website located at http(s)://sosaics.com (the "Site") is provided by sosaics ("sosaics," "Us" or "We"), subject to the
  following. This Privacy Policy also applies to features or downloads that are owned or controlled by sosaics, that are available through the Service, or that interact with the Service and post this Privacy Policy. <br />
  <br /> To better protect your privacy, we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used in connection with the Service. This Privacy Policy applies only
  to the Service, and covers information collected on, through, or in connection with your use of the Service.<br />
  <br /> sosaics reserves the right to modify the terms and conditions of this Privacy Policy or to change, modify or otherwise alter any feature of the Service at any time and in its sole discretion. Changes may be communicated to you by making the revised
  Privacy Policy available for your review. Any modification to this Privacy Policy, including, but not limited to, any modification to the warranty disclaimers or limitations of liability contained herein, will supersede the prior provisions for all
  activity occurring after the modified version has been made available in the manner described above. Your continued use of the Service after the revised version is made available constitutes your agreement to the modification. <br />
  <br />
  <h3>1. The Information We Collect</h3> The Service may request your personally identifiable information. The types of personally identifiable information that may be collected by the Service may include: email address and other optional information (e.g., mobile phone numbers and information
  about your interests in and use of various products, programs, and services) . Personal information does not include business contact information (e.g., office address, telephone number) in those jurisdictions that recognize such information as not
  being personal information. Personal information may be collected when you: (a) create a Registered Account; (b) register for promotions or other features of the Service; and (c) report any issues relating to the Service or your use of the Service.
  <br />
  <br /> We also may collect certain non-personally identifiable information when you access the Service or visit the Site, such as: the browser you are using (e.g., Mozilla Firefox, Safari, Internet Explorer); the operating system you are using, (e.g.,
  Microsoft Windows, Android, iOS); the IP address of any device you use to access the Service; the domain name of your Internet/mobile service provider (e.g., AT&T, Verizon); referring/exit pages; date/time stamp; clickstream data; and pixel tags. In
  addition, when you visit the Service, our servers automatically collect information describing your use of the Service, including content accessed by you, page/screen visits, length of time viewing a certain page or program, how the content is viewed,
  etc. You may also be asked to voluntarily rate the content you view on the Service. <br />
  <br /> <!--As an administrator your email will be provided to those persons you allow to participate to assist with personal communication between yourself and the players you designate. As a player you may receive email notifications from the Service on
  behalf of the administrator or directly from the administrator via personal communication. As an administrator and for the purpose of payment of the games you host or your account subscription you will be redirected to a secure site owned by PayPal™
  payment services. The information you provide in the process of payment, including, but not limited to your address, credit card information, PayPal™ account information, etc. is collected by sosaics for transactional auditing purposes only and will
  not be made available to third parties outside the scope of a criminal investigation. <br />
  <br />-->
  <h3>2. Opting Out</h3> We will provide an unsubscribe link at the bottom of each promotional email you receive, which you can use at any time you wish to opt out of receiving promotional materials related to the Service. Please keep in mind that opting out of promotional
  emails will not prevent our sending you transactional email correspondence related to the Service and your Registered Account. <br />
  <br /> In some instances, certain information or services can only be provided to you if personal information is provided. If you elect not to provide such information or opt out of having your information shared, you may not be able to receive certain
  content or information. <br />
  <br />
  <h3>3. Cookies and Information We Collect as You Access and Use the Service</h3> In addition to any Personal Information or other information that you choose to submit to the Services, we and our third-party service providers may use a variety of technologies that automatically or passively collect certain information whenever
  you visit or interact with the Services ("Usage Information"). Usage Information may include the browser you use, all of the areas you visit within the Service, the time of day, and other information. We may use Usage Information to enhance or otherwise
  improve the Service, or for any other purpose. We also collect your IP address or other unique identifier ("Device Identifier") for your computer or other device you use to access the Service ("Device"). A Device Identifier is a number that is automatically
  assigned to the Device you use to access the Service, and our computers identify your Device by its Device Identifier. Usage Information may be non-identifying or may be associated with you. When we associate Usage Information or a Device Identifier
  with your Personal Information, we will treat it as Personal Information. <br />
  <br /> A cookie is a data file stored on a Device when it is used to visit the Service. Cookies may be used for many purposes, including, but not limited to, remembering your preferences and tracking your activity on the Service. If you choose to disable
  cookies or Flash cookies on your Device, some features of the Service may not function properly. <br />
  <br /> Small graphic images or other web programming code called web beacons (also known as "1x1 GIFs" or "clear GIFs") may be included in our webpages and email messages. Web beacons may be invisible to you, but any electronic image or other web programming
  code inserted into a web page or email can act as a web beacon. Web beacons or similar technologies may be used for a number of purposes, including, but not limited to, counting the number of Service users, and monitoring users’ navigation of the Service.
  <br />
  <br /> An embedded script is programming code that is designed to collect information about your interactions with the Service. The code is temporarily downloaded onto your Device from our web server or a third party service provider, is active only
  while you are connected to the Service, and is deactivated or deleted thereafter. <br />
  <br />
  <h3>4. Security</h3> We take information security seriously and use reasonable physical, electronic, and managerial procedures to help prevent unauthorized access, maintain data security, and properly use the information we collect online. <br />
  <br /> No Internet data transmission can be totally secure, and any information you send to the Service may be read or intercepted by others, even if there is a special notice that a particular transmission (e.g., credit card information) is encrypted;
  you provide your personally identifiable information at your own risk. <br />
  <br /> We will take reasonable steps to protect against unauthorized disclosure of information, and to verify your identity before granting access or making changes to any personally identifiable or billing information. Nonetheless, we cannot assure
  you that personally identifiable information that we collect will never be disclosed in a manner that is inconsistent with this Privacy Policy. <br />
  <br />
  <h3>5. Collection of Information by Children</h3> Any Registered Account holder must be over the legal age of majority. sosaics does not knowingly collect any personally identifiable information from individuals under the age of 13. If you are a parent or legal guardian who has discovered that your
  child has registered for or accessed the Service without your consent, you can ask us to remove any unauthorized information provided by your child by contacting us at support@sosaics.com . Upon valid notice from you, sosaics will make reasonable efforts
  to investigate and remove the information. Please be sure to include the subject Username, Password and email address; and please review the Terms of Use for information regarding how to cancel such subscription. <br />
  <br />
  <h3>6. How to Contact Us</h3> Please direct your questions or concerns about the Privacy Policy to our Support team via email at support@sosaics.com
</body>

</html>
